/* createInvoice.css */

.whole-card {
  background-color: #f6f6f6;
  height: 100vh; /* Set the height to 100% of the viewport height */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.invoice-card {
  background-color: #f6f6f6;
  padding: 15px;
}

.service-section-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f6f6f6;
  padding: 15px;
  margin-bottom: 5px;
}

.service-section-card .service-section {
  display: flex;
  gap: 5px;
}

.add-service-btn {
  margin-top: 10px;
  color: black;
  background-color: white;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.button-submit {
  margin-top: 10px;
  color: white;
  background-color: black;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.remove-service-btn {
  color: black;
  background-color: #f6f6f6;
  margin-top: 25px;
}

.client-section {
  background-color: #f6f6f6;
  padding: 15px;
  margin-bottom: 10px;
}

.title-section {
  margin-top: 10px;
  font-weight: bold;
}
